<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Resonators</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    </head>
    <body>
        <% if (typeof serverVersion !== 'undefined') {%>
        <script type="text/javascript">
            <%-'window.serverVersion = ' + serverVersion + ';'%>
            <%-"console.log('%c server version', 'background: #222; color: #bada55; font-size:18px', window.serverVersion);"%>
        </script>
        <%}%>

        <% if (typeof clientVersion !== 'undefined' && clientVersion) {%>
        <script type="text/javascript">
            <%-'window.clientVersion = ' + clientVersion + ';'%>
            <%-"console.log('%c client version', 'background: #222; color: #bada55; font-size:18px', window.clientVersion);"%>
        </script>

        <div id="app">Loading...</div>
        <script type="text/javascript" src="<%=clientVersion.link%>"></script>
        <% } else {%>
        <div>No client version was found. Forgot to upload it?</div>
        <% } %>
    </body>
</html>
